[Desktop Entry]
Name=EmuDeck SD Card
Exec=/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/dragoonDorise/EmuDeck/main/install.sh SD)"
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
